.inputfield {
    display: block;
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    background-color: #ffffff;
}


.inputfieldArea {
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 5px;
}
.navAndBody {
    display: flex;
    align-items: center;
}

/* addTaskPage */

.contentContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0% 5%;
}

.contentContainer:nth-child() {
    background: red;
  }

.headContent{
    margin-top: 20px;
    margin-bottom: 30px;
    height: 80px;
}

.headContent h1 {
    font-weight: bold !important;
}

.addTaskBoard {  
    background-color: #F3F3FA;
    height: 700px;
    border-radius: 10px;
}

/* .addTaskBoard input {
    width: -webkit-fill-available;

} */
.taskBoard {
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.taskContainer {
    height: 100%;
}

.taskContainer h2 {
    font-weight: bold !important;
}

.inputManage {
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding: 50px;
}
/* removes old input calendar icon */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;   
    
}
/* new calendar icon */
.dateSymbol {
    background-image: url(img/icons8-calendar-150.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 25px;
    appearance: none;
    /* filter: drop-shadow(0 0 1px black); */
}

/* arrow icon for inputs */
.arrow {
    background-image: url(img/chevron\ .png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 25px;
    appearance: none;
}
.arrow::after {
    border-left: 1px solid #3C1C78;
}

.assignToBox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 72px;
}

.assignAbleMember img:hover {
    transform: scale(1.1);
    border-radius: 50%;
    border: 2px solid white;
}

.asiContainer {
    width: 70px;
    display: flex;
    justify-content: center;
}
.openMemberBtn:hover {
    transform: scale(1.1);
    border-radius: 50%;
    border: 2px solid white;
}
.cancelButton {
    background-color: transparent;
    border: none;
    color: #1f3291 !important;
    font-weight: 700;
}

.btnCancel:hover {
    color: white !important;
}

.submitButton {
    font-weight: 700;
}

.memberList {
    width: 300px;
    height: 300px;
    background-color: #1e3190;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    z-index: 1;
}

.closeMemberlist {
    margin-top: 5px;
}

.closeMemberlist:hover {
    transform: scale(1.1);
}
.avatar-selected {
    opacity: 1;
    border: 3px solid #3D49CA;

}

/* BACKLOG */


.contentContainerBacklog {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0% 5%;
}

.infoBar {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.infoBar h2 {
    font-weight: bold !important;
}

.bodyContent {   
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
    height: 100%;
    padding: 8px;
}
.bodyContent::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

.taskContainerBacklog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    max-height: fit-content;
    width: 100%;
    background-color: #f4f3fb;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
}

.taskBox {
    display: flex;
    align-items: center;
    width: 33%;
}

.category {
    width: 32%;
}
.taskContainerBacklog textarea {
    width: 35%;
    border: none;
    background-color: #f4f3fb;
    border-radius: 10px;
}

.backlogSettings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: 100%;
}

.backlogSettings img {
    height: 24px;
    width: 24px;
}