
* {
    text-decoration:none;
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}
h1 {
    color: blue;
}

.inputfield {
    display: block;
    width: 80%;
    height: 60px;
    padding: 10px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    background-color: #ffffff;
}


.inputfieldArea {
    display: block;
    width: 80%;
    height: 140px;
    border-radius: 5px;

}
.navAndBody {
    display: flex;
    align-items: center;
}

/* addTaskPage */

.addTaskBoard {  
    background-color: #E3E3E3;
    /* padding: 30px; */
    height: 700px;
    width: 90%;
    
    border-radius: 10px;
    margin: 0% 5%;

}

/* .addTaskBoard input {
    width: -webkit-fill-available;

} */
.taskBoard {
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.taskContainer {
    margin-bottom: 70px;
    height: 100px;
}

.inputManage {
    flex-direction: column;
    width: 50%;
    padding: 50px;
}
/* removes old input calendar icon */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;   
}
/* new calendar icon */
.dateSymbol {
    background-image: url(img/icons8-calendar-150.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 25px;
    appearance: none;
    /* filter: drop-shadow(0 0 1px black); */
}

/* arrow icon for inputs */
.arrow {
    background-image: url(img/chevron\ .png);
    background-repeat: no-repeat;
    background-position: right 20px center;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-size: 25px;
    appearance: none;
}
.arrow::after {
    border-left: 1px solid #3C1C78;
}
/* AvatarpickerCSS */
.avatar {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
    margin-right: 16px;
    object-fit: cover;
    border: 3px solid transparent;

}

.avatar:hover {
    opacity: 1;
}


.avatar-selected {
    opacity: 1;
    border: 3px solid #3D49CA;

}


/* Navbar */


.navbar-main {
    background-color: #ffffff !important;
    height: 100vh;
    display: flex;
    align-items: unset !important;
    justify-content: space-between;
    min-width: max-content;

}
.container-fluid {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #2B2CA6;


}
.upperNavbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img{
    height: 72px;
    width: 72px;
}

.navbar-nav {
    display: flex;
    flex-direction: column !important;
    font-size: 24px;
    margin-top: 48px;
}

.navbar-nav a {
    color: white !important;

}
.profileAvatar {
    border-radius: 50%;
    height: 48px;
    width: 48px;
}