body {
    margin: 0px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    color:rgb(28, 45, 146);

}

.blue-font {
    color: #2B2CA6;
}

.padding4px {
    padding: 4px;
}

.only-mobile {
    display: none;
}

.d-none {
    display: none!important;
}


.bgr1 {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    text-align: center;    
    background-color: rgb(228, 227, 249);
    border-radius: 10px;
    padding: 2px 6px;
    margin: 12px 0px;
    max-width: 800px;
    color:rgb(28, 45, 146);
}

.login-text {
    margin-bottom: 4px;
}

.text-center {
    text-align: center;
}

.input {
    border-radius: 10px;
    border: 2px grey solid;
    width: 90%;
    margin-bottom: 4px;
    max-width: 500px;
    text-align: center;
}

.login-button {
    border: none;
    border-radius: 10px;
    background-color: #2B2CA6 !important;
    color: white;
    font-size: x-large;
    padding: 6px 70px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.login-button:hover {
    background-color:#1919d9 !important;

    cursor: pointer;
}

.error-text {
    margin-bottom: 4px;
    color:red;
}

/* ab hier das board */

.board-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.column {
    background-color: rgb(228, 227, 249);
    width: 20vw;
    height: 93vh;
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.board-headline {
    max-width: 20vw;
    font-size: 2.3vw;
    text-align: center;
    font-weight: bold;
}

.task-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 8px;
    text-align: center;
    margin-bottom: 8px;
    z-index: 2;
}

.task-container:hover {
    cursor:grab;
}

.task-description{
    text-align: justify;
    margin-bottom: 0px;
    max-width: 100%;
}

.task-container-subheadline {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.border-green {
    border-radius: 10px;
    border: 4px solid green;
}

.border-orange {
    border-radius: 10px;
    border: 4px solid orange;
}

.border-red  {
    border-radius: 10px;
    border: 4px solid red;
}

.highlight {
    background-color: rgb(213, 213, 222);
}

.task-information-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 98%;
}

.task-information-content {
    display: flex;
    width: 100%;
}

.assigned-to-list {
    display: flex;
    flex-direction: column;
}

.assigned-to-list-member {
    display: flex;
}

.task-info-left-column {
    width: 50%;
    text-align: left;
}

.task-info-right-column {
    width: 50%;
    text-align: left;
}

.deleteTaskArea {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    z-index: 3;
    background-color: rgba(245, 40, 40, 0.464);
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteTaskAreaHover {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 15vh;
    z-index: 3;
    background-color: rgba(188, 28, 28, 0.895);
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteTaskIcon {
    padding: 24px;
    background-color: rgba(242, 214, 214, 0.464);
    border-radius: 100%;
}

.bgr-grey {
    z-index: 100;
    background-color:rgba(38, 38, 38, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}

.help-content {
    width: 50vw;
    padding: 3vh 5vw;
    background-color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-info {
    background-color: rgb(228, 227, 249);
    border-radius: 10px;
    padding: 8px;
}

.only-mobile {
    display: none;
}



@media (max-width: 1224px) { 
    .task-information-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .horizontal-mobile {
        flex-direction: row!important;
    }

    .task-info-left-column {
        width: 99%;
        text-align: left;
    }
    
    .task-info-right-column {
        width: 99%;
        text-align: left;
    }

    .mobile-center {
        text-align: center;
    }

    .bold-mobile {
        font-size: 1.1em;
    }

    .inputManage {
        padding: 2vw;
    }

    .backlogInfoCard {
        width: 50%;
        height: 69%;
    }
}

@media (max-width: 700px) { 
    .login-button {
    width: 92%;
    }

    .only-mobile {
        display:flex
    }

    .board-container {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 78vw;
        /* text-align: center; */
    }

    .navbar-mobile {
        width: 100vw!important;
        height: 98vh;
        align-items: center!important;
        position: fixed;
    }

    .navbar-mobile-open {
        width: 32vw!important;
        align-items: center!important;
        z-index: 2;
    }

    .logo {
        width: 8vw;
        left: 2vw!important;
        padding: 0px!important;
    }

    .d-none-mobile {
        display: none!important;
    }

    .member-icon {
        height: 28px;
        width: 28px;
    }

    .board-headline {
        font-size: 2em;
        max-width: 78%;
    }

    .task-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger-menu {
        margin-top: 48px;
        width: 6vw;
    }

    .only-mobile {  
        display: flex;
        }


    .inputManage {
        padding: 6px;
        width: 100%;
    }

    .taskContainer {
        height: unset;
      }

    .taskBoard {
        flex-direction: column;
    }

    .addTaskBoard {
        height: 100%;
        text-align: center;
      }

    .inputfield {
        height: min-content
    }

    h2 {
        font-size: 1.4em;
    }

    .contentContainer {
        margin: 0px;
        margin-right: 2vw; 
        margin-left: 2vw;
    }

    .contentContainerBacklog {
        width: 100%;
        margin: 0% 2%;
    }

    .innerContainer {
        flex-direction: column;
        align-items: center;
    }

    .taskBox {
        justify-content: center;
    }

    .backlogSettings {
        flex-direction: row;
        width: 50vw;
        justify-content: space-between;
        margin-top: 6px;
    }

    .taskContainerBacklog {
        width: 97%;
        
    }

    .category {
        width: unset;
        text-align: center;
    }

    .descriptionBacklogBox {
        border: 3px groove rgb(213, 213, 222);
        border-radius: 10px;
        width: 67vw;
    }

    .textarea {
        background-color: white;
    }

    .backlogInfoCard {
        width: 90%;
        height: 69%;
    }

    .getNavbar {
        border-radius: 100%;
        padding: 12px;
        background-color: rgb(28, 45, 146);
        color: white;
        position: fixed;
        top: 7px;
        right: 7px;
        width: 60px;
        height: 60px;
        border: 2px solid white;
        z-index: 1;
        display: unset !important;
    }

    .logo {
        width: 20vw;
    }

    .help-content {
        width: 99vw;
    }
}