body {
    margin: 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    color: rgb(28, 45, 146);

}

.loginH2 {
    color: #2B2CA6;
    margin: 0px;
}

.blue-font {
    color: #2B2CA6;
}

.padding4px {
    padding: 4px;
}

.only-mobile {
    display: none;
}

.d-none {
    display: none!important;
}

.opacity {
    opacity: 1;
}

.bgr1 {
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentLoginContainer {
    padding: 10px;
    border: 1px solid black;
    box-shadow: inset 0 -5px 45px rgb(100 100 100 / 30%), 0 1px 1px rgb(255 255 255 / 20%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headIn {
    display: flex;
    justify-content: center;
}

.headIn img{
    background-color: #2B2CA6;
    border-radius: 5px;
    padding: 5px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 2px 6px;
    margin: 12px 0px;
    max-width: 800px;
    padding: 10px;
    width: 100%;
}

.login-container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(228, 227, 249);
    border-radius: 10px;
    padding: 2px 6px;
    margin: 12px 0px;
    max-width: 800px;
    color: rgb(28, 45, 146);
    padding: 10px;
    width: 100%;
}

.registerPage {
    height: max-content;
    width: max-content;
    text-align: center;
    background-color: rgb(228, 227, 249);
    color: #2B2CA6;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 0px 6px 0px rgb(0 0 0 / 20%);
}

.registerRedirectButton {
    background-color: #0d6efd;
    width: 50%;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}

.registerRedirectButton:hover {
    background-color: #1919d9;
}

.login-text {
    margin-bottom: 4px;
}

.text-center {
    text-align: center;
}

.input {
    border-radius: 5px;
    border: 1px grey solid;
    margin-bottom: 4px;
    max-width: 500px;
    text-align: center;
    padding: 2px;
    background: rgba(0,0,0,0.3);
    box-shadow: inset 0 -5px 45px rgb(100 100 100 / 20%), 0 1px 1px rgb(255 255 255 / 20%);
    width: 100%;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
}

.login-button {
    border: none;
    border-radius: 10px;
    background-color: #2B2CA6 !important;
    color: white;
    font-size: x-large;
    padding: 10px;
    margin-top: 8px;
    width: 100%;
}

.login-button:hover {
    background-color: #1919d9 !important;
    cursor: pointer;
}

.login-button2 {
    border: none;
    border-radius: 10px;
    background-color: #2B2CA6 !important;
    color: white;
    font-size: x-large;
    padding: 10px;
    margin-bottom: 8px;
    width: 100%;
}

.login-button2:hover {
    background-color: #1919d9 !important;
    cursor: pointer;
}

.register-button {
    border: none;
    border-radius: 10px;
    background-color: #2B2CA6 !important;
    color: white;
    font-size: x-large;
    padding: 10px;
    margin-top: 8px;
    width: 65%;
}

.error-text {
    margin-bottom: 4px;
    color: red;
}

/* ab hier das board */

.board-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.column {
    background-color: rgb(228, 227, 249);
    width: 20vw;
    min-height: 93vh;
    height: calc(100% - 30px);
    padding: 5px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.board-headline {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.task-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 8px;
    text-align: center;
    margin-bottom: 8px;
    word-break: break-word;
    z-index: 2;
}

.task-container:hover {
    cursor: grab;
}

.task-description {
    text-align: justify;
    margin-bottom: 0px;
    max-width: 100%;
}

.task-container-subheadline {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.border-green {
    border-radius: 10px;
    border: 4px solid green;
}

.border-orange {
    border-radius: 10px;
    border: 4px solid orange;
}

.width100 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.border-red {
    border-radius: 10px;
    border: 4px solid red;
}

.highlight {
    background-color: rgb(213, 213, 222);
}

.task-information-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 98%;
}

.task-information-content {
    display: flex;
    width: 100%;
}

.assigned-to-list {
    display: flex;
    flex-direction: column;
}

.assigned-to-list-member {
    display: flex;
}

.task-info-left-column {
    width: 50%;
    text-align: left;
}

.task-info-right-column {
    width: 50%;
    text-align: left;
    word-break: break-word;
}

.deleteTaskArea {
    height: fit-content;
    background-color: rgba(245, 40, 40, 0.464);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/* 
.deleteTaskArea:hover {
    background-color: rgba(188, 28, 28, 0.895);
}     */


.deleteTaskAreaHover {
    height: fit-content;
    background-color: rgba(188, 28, 28, 0.895);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/* .deleteTaskAreaHover img {
    background-color: rgba(121, 106, 106, 0.464);
} */

.deleteTaskIcon {
    padding: 24px;
    background-color: rgba(242, 214, 214, 0.464);
    border-radius: 100%;
    height: max-content;
}

.deleteTaskIcon:hover {
    background-color: rgba(188, 28, 28, 0.895);

}

.bgr-grey {
    z-index: 100;
    background-color: rgba(38, 38, 38, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}

.help-content {
    width: 50vw;
    padding: 3vh 5vw;
    background-color: white;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-info {
    background-color: rgb(228, 227, 249);
    border-radius: 10px;
    padding: 8px;
}

.only-mobile {
    display: none;
}



@media (max-width: 1224px) {
    .task-information-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .horizontal-mobile {
        flex-direction: row !important;
    }

    .task-info-left-column {
        width: 99%;
        text-align: left;
    }

    .task-info-right-column {
        width: 100%;
        text-align: left;
    }

    .mobile-center {
        text-align: center;
    }

    .bold-mobile {
        font-size: 1.1em;
    }

    .inputManage {
        padding: 2vw;
    }

}

@media (max-width: 840px) {
    .login-container2 {
        width: 60%;
    }

    .register-button {
        width: 100%;
    }
}

@media (max-width: 700px) {

    .only-mobile {
        display: flex
    }

    .board-container {
        flex-direction: column;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
        padding: 10px;
    }

    .column {
        width: 40vw;
        height: inherit;
        margin-bottom: 10px;
    }

    .navbar-mobile {
        width: 100vw !important;
        height: 100vh;
        align-items: center !important;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .navbar-mobile-open {
        width: 32vw !important;
        align-items: center !important;
        z-index: 2;
    }

    .d-none-mobile {
        display: none !important;
    }

    .member-icon {
        height: 28px;
        width: 28px;
    }

    .board-headline {
        font-size: 2em;
        max-width: 100%;
    }

    .task-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: -webkit-fill-available;
        margin-top: 30px;
    }

    .burger-menu {
        margin-top: 48px;
        width: 6vw;
    }

    .only-mobile {
        display: flex;
    }


    .inputManage {
        padding: 6px;
        width: 100%;
    }

    .taskContainer {
        height: unset;
    }

    .taskBoard {
        flex-direction: column;
    }

    .addTaskBoard {
        height: 100%;
        text-align: center;
    }

    .inputfield {
        height: min-content
    }

    h2 {
        font-size: 1.4em;
    }

    .contentContainer {
        margin: 0px;
        margin-right: 2vw;
        margin-left: 2vw;
    }

    .contentContainerBacklog {
        width: 100%;
        margin: 0% 2%;
    }

    .innerContainer {
        flex-direction: column;
        align-items: center;
    }

    .taskBox {
        justify-content: center;
    }

    .bCard {
        width: 90%;
        max-width: unset;
    }

    .backlogSettings {
        flex-direction: row;
        width: 50vw;
        justify-content: space-between;
        margin-top: 6px;
    }

    .taskContainerBacklog {
        width: 97%;

    }

    .category {
        width: unset;
        text-align: center;
    }

    .descriptionBacklogBox {
        border: 3px groove rgb(213, 213, 222);
        border-radius: 10px;
        width: 67vw;
    }

    .textarea {
        background-color: white;
    }

    .backlogInfoCard {
        width: 90%;
        height: 69%;
    }

    .getNavbar {
        border-radius: 10px;
        background-color: rgb(255 255 255);
        position: fixed;
        top: 2px;
        right: 2px;
        width: 48px;
        z-index: 1;
    }

    .help-content {
        width: 90%;
    }
}

@media (max-width: 482px) {
    .board-headline {
        max-width: min-content;
    }
}

@media (max-width:460px) {
    .board-headline {
        max-width: 100%;
    }

    .board-container {
        grid-template-columns: unset;
        grid-template-rows: unset;
    }

    .column {
        width: 100%;
    }

    .contentLoginContainer {
        text-align: center;
    }

    .headIn {
        display: unset;
    }

    .headIn h1 {
        margin: 0;
    }
    
    .headIn img {
        display: none;
    }

    .login-container {
        margin: 0;
        width: 60%;
    }

    .login-container h3 {
        margin: 0;
    }

    .login-container2 {
        margin: 0;
        width: 60%;
    }

    .login-button {
        padding: 0;
    }

    .login-button2 {
        width: 60%;
        padding: 0;
    }
}

@media (max-width:380px) {

    .contentLoginContainer {
        padding: 0;
        margin: 5px;
    }

    .register-button {
        width: unset;
    }

}